/*Playground section*/
#Playground{
  display: flex;
  height: 500px;
  width: 1000px;
  margin: auto auto 3rem auto;
  border-radius: 1rem;
  padding: 1rem;
  justify-content: space-between;
  gap: 1rem;
}

/*Canvas Panel*/
#canva div{
  cursor: pointer;
  margin: 10px;
  border-radius: 1rem;
  padding: .5rem 1rem;
  position:absolute;
}
#canvas-panel{
  margin: auto;
  border-radius: 1rem;
  background: #fff;
}

/*Tools section*/
#tools{
  padding: 1rem;
  width: 200px;
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  grid-gap: 1rem;
}
#toolList{
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#toolList div{
  cursor: pointer;
  margin: auto;
  display: flex;
  height: 60px;
  width: 100%;
  border-radius: 1rem;
}
#toolList div span{
  margin: auto;
}
#tools .input-color{
  border: none;
}

@media screen and (max-width:1280px){
  #playground-cont{display: none;}
}