#About {
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-gap: 1rem;
  margin: 0 10dvw;
}

.text-side {
}

.gallery-side section {
  -moz-column-width: 18em;
  -webkit-column-width: 18em;
  column-width: 18em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
  margin: 5px;
}
.gallery-item {
  display: inline-block;
}
.gallery-item * {
  width: 20rem;
}
.gallery-item p {
  margin-top: 0;
}

@media screen and (max-width: 880px) {
  #About{
    margin: 0 2dvw;
  }
}

@media screen and (max-width: 680px) {
  #About {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    margin: 0;
  }
  .text-side {
    max-width: none;
  }

  .gallery-item * {
    width: 100%;
  }
}
