#Navbar{
  z-index: 100000;
  width: 100%;
  display: flex; 
  position: fixed;
}
#sub-Navbar{
  gap: 1rem;
  border-radius: 1rem;
  height: 80px;
  margin: auto;
  width: 70%;
  display: flex; 
  justify-content: space-between;
}
/*---------------------------------*/
#my-brand{
  gap: 2rem;
  height: 80%;
  margin: auto 0 auto 2rem;
  display: flex;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#my-photo{
  opacity: 0%;
  margin: auto 0;
  background-image:url(./img/myPhoto.jpg);
  border-radius: 100%;
  background-size: cover;
  height: 50px;
  width: 50px;
  animation: fade-in 0.3s ease-in-out 0.5s forwards;
}

#my-name{
  font-weight: 500;
  margin: auto 0;
}
/*---------------------------------*/
#links{
  transition: 0.1s ease-in;
  display: flex;
  gap: 10px;
  height: 80%;
  margin: auto 2rem auto 0;
}
#links li{
  margin: auto;
  list-style-type: none;
  font-weight: 400;
  padding: 10px 15px;
  transition: 0.2s;
  border-radius: 1rem;
}
#themeSwitch{
  opacity: 0%;
  animation: fade-in 0.3s ease-in-out 0.5s forwards;
  display: flex;
}
#themeSwitch img{
  margin: auto;
  height: 50px;
  width: 50px;
}
#porcent{
  border-radius: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
}