/*This is the dark theme for my page*/

.mode-dark,
.mode-dark #Navbar{
  background: #121212;
  color: #e6e6e6;
}
.mode-dark a{
  color: #e6e6e6;
  text-decoration:none;
}
.mode-dark #links li,
.mode-dark #Clock-header ,
.mode-dark .footer ,
.mode-dark .skillBox,
.mode-dark .BlogCard-bg,
.mode-dark #tools{
  background: #333333;
}
.mode-dark #links li:hover,
.mode-dark .gallery-item ,
.mode-dark .BlogCard-tags li ,
.mode-dark #Playground,
.mode-dark #toolList div,
.mode-dark #canva div{
  background: #474747;
}
.mode-dark .btn1:hover::after,
.mode-dark #porcent{
  background: #fff;
}
 
/* Cambiar el ancho de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 7px;
}

/* Cambiar el color de fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: #121212;
}

/* Cambiar el color del "pulgarcito" (la parte que puedes arrastrar) */
::-webkit-scrollbar-thumb {
  background: #474747;
  border-radius: 1rem;
}
/* Cambiar el color cuando se pasa el cursor sobre la barra de desplazamiento */
::-webkit-scrollbar-thumb:hover {
  background: #333333;
}
