hr {
  width: 100%;
  font-weight: thin;
}
#AboutMe-cont{
  display: flex;
}
.section-about-me{
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.section-about-me aside{
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.section-about-me aside *{
  font-weight: 400;
  line-height: 17px;
}
#myPhoto2{
  margin: auto;
  background-size: cover;
  border-radius: 1rem;
  width: 15rem;
  height: 15rem;
  background-image: url(../img/my-photo2.jpg);
  transition: 0.2s;
  filter:grayscale(1);

}
#myPhoto2:hover{
  filter:grayscale(0);
}